/* CNIT195 Math App3 Base CSS Stylesheet */


* {
  box-sizing: border-box;
  
}


body { 
  background-image: url(images/svg_bg1.svg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  
  
}


header {
  background-color: bisque;

  border-style: solid;
  border-radius: 1em;
  
  display: flex; /* setup Flexbox container */
  flex-flow: column wrap;
  justify-content: space-evenly;

}


nav {
  display: flex; /* setup Flexbox container */
  justify-content: space-evenly;
  font-family: Arial, Helvetica, sans-serif;

}


div.pill { /* makes "buttons" in navbar for links and playername */
  background-color: white;
  border-style: dashed;
  border-radius: .5em;
  padding: .5em 1.5em;
}


main {
  display: flex; /* setup Flexbox container */
  flex-flow: column wrap;
  font-size: 180%;
  background-color: white;
  
}

#mainA, #mainB { /* setup columns in main body */

  border-style: solid; 
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}


footer {
  background-color: bisque;
  border-style: solid;
  border-radius: 1em;
  padding: 5px 20px;
  
  display: flex; /* setup Flexbox container */
  flex-flow: column wrap;
  align-items: center;

}

#footMid {
  text-align: center;
}

.footSocial {
  width: 50px;
  height: 50px;
  margin: 10px;
  
}


/* BEGIN mobile layout settings 767px wide and below */
@media screen and (max-width: 767px) {
  header, nav, main, footer {
    flex-direction: column;
  }
  
  nav, header {
    text-align: center;
  }
  
  header img {
    margin: auto;
  }
  
  .NoDisplayMobile { 
    display: none;
  }
  
  div.pill {
    width: 80%;
    margin: auto;
  }
  
  #footLeft, #footRight {
    text-align: center;
  }
 
  .select_operation button, .select_amount button{
    width: 125px;
    height: 125px;
    line-height: 250px;
    font-weight: 900;
    border-style: none;
    background-color: transparent;
    background-image: url(images/box.png);
    background-size: cover;
  }
  #practice_mode,#quiz_mode{
    width: 250px;
    height: 150px;
    line-height: 225px;
    border-style: none;
    color: red;
    text-shadow: 0 2px 4px lightcoral;
    font-size: large;
    background-color: transparent;
    background-image: url(images/mode.png);
    background-size: cover;
  }
  .select_operation{
    display: grid;
    width: 90%;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .select_amount{
    display: flex;
    flex-direction: column;
  }
}  /* END mobile layout settings 767px wide and below */



/* BEGIN tablet layout settings 768px wide */
@media screen and (min-width: 768px) {
  header, nav, main, footer {
    flex-direction: row;
  }  
  
  

  #mainA, #mainB { /* setup columns in main body */
    flex: 50%; 
  }

  #footLeft {
    flex: 25%;
  }
  
  #footMid {
    flex: 50%;
  }
  
  #footRight {
    flex: 25%;
    text-align: right;
  }
  #practice_mode,#quiz_mode{
    width: 500px;
    height: 300px;
    line-height: 450px;
    border-style: none;
    color: red;
    text-shadow: 0 2px 4px lightcoral;
    font-size: larger;
    background-color: transparent;
    background-image: url(images/mode.png);
    background-size: cover;
  }
  .select_operation button, .select_amount button{
    width: 250px;
    height: 250px;
    line-height: 500px;
    font-weight: 900;
    border-style: none;
    background-color: transparent;
    background-image: url(images/box.png);
    background-size: cover;
  }
  .select_operation{
    display: grid;
    width: 90%;
    justify-items: center;
    grid-template-columns: repeat(2,1fr);
  }
  .select_amount{
    display: flex;
  }
  
}  /* END tablet layout settings 768px wide */


/* BEGIN desktop layout settings 1024px wide */
@media screen and (min-width: 1024px) {
  header, nav, main, footer {
    width: 80%;
    margin: auto;
  }

}  /* END desktop layout settings 1024px wide */

/* Start switch user dialog*/
.form_submit{
  text-align: center;
}
.dialog{
  width: 100%;
}
.dialog div{
  background-size:contain;
  background-repeat: no-repeat;
  text-align: center;
  font-size: 2rem;
  font-weight: bolder;
  display: block;
  line-height: 100px;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  height: 100px;
  margin:5px;
  background-color: #eb9f12;
}
/* End switch user dialog*/

/* Start game page  */


#quiz_mode,#practice_mode,.select_operation button, .select_amount button,#c_submit:hover,#c_skip,#c_next,.c_option p,#c_go,.start_btn,.form_submit input {
  cursor: pointer;
}


.start_btn{
  margin-top: 20px;
}

.c_btn,
.c_infoBar {
  margin-top: 2vw;
  font-size:calc(12px + 1vw);
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.c_status{
  width: 60%;
}
.game_page{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.c_status span{
  display: inline-block;
  border-radius: 2px;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  text-align: center;
  
}
.c_msg{
  text-align: center;
  margin-bottom: 15px;
}

.c_msg p{
  width: 100%;
  padding:10px;
  border-radius: 10px;
  
}
.start_btn,
#c_go,
#c_main,
#c_profile,
#c_submit,
#c_skip,
.form_submit input
{
  font-family: Arial, Helvetica, sans-serif;
  width: 120px;
  font-size:20px;
  border: 1px solid black;
  text-align: center;
  background-color: bisque;
  color: black;
  padding: 5px;
  text-decoration: none;
  border-radius: 12px;
  box-shadow: 0 6px rgb(201, 201, 206);
}
.start_btn:active,
#c_go:active,
#c_main:active,
#c_profile:active,
#c_submit:active,
#c_skip:active,
.form_submit input:active{
  box-shadow: 0 2px rgb(127, 127, 131);
  transform: translateY(4px);
}

#c_next{
  font-size:20px;
  border: none;
  text-align: center;
  background-color: transparent;
  box-shadow: 2px 2px 2px 2px lightseagreen,-2px -2px 2px 2px lightseagreen;
  color: black;
  padding: 5px;
  border-radius: 12px;
  animation:btn 0.5s linear infinite;
  margin-top: 0;
}
@keyframes btn{
  0%{
    box-shadow:-8px 2px 2px 2px lightseagreen
  }
  50%{
    box-shadow:2px 8px 2px 2px lightseagreen
  }
  75%{
    box-shadow:8px 2px 2px 2px lightseagreen
  }
  100%{
    box-shadow:2px -8px 2px 2px lightseagreen
  }
}
.c_option {
  width: 100%;
  height: calc(50px + 1vw);
  margin: 2vw auto;
  overflow: visible;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 3vw;
}

#c_hole,
.c_option>p {
  width: calc(50px + 1vw);
  height: calc(50px + 1vw);
  font-size:calc(16px + 1vw);
  border: 3px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c_screen {
  width: 100%;
  font-size:calc(20px + 1vw);
  border-radius: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c_ans {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding:1vw 0;
}
#c_submit{
  margin-left: 10px;
}
@keyframes openBox {
  
  100%{
    background-image:url('images/open_box.png')
  }
}

@keyframes closeBox {
  
  100%{
    background-image:url('images/box.png')
  }
}
#avatar_option img:hover{
  background-color: #eb9f12;
}
.user{
  display: flex;
  justify-content: center;
  align-items: center;
}
.avatar{
  margin-right: 10px;
}
#new_player,#logout{
  font-size:xx-small;
}

  



/* End game page */