/* CNIT195 Math App3 Base CSS Stylesheet */



* {
  box-sizing: border-box;
}


body { 
  background-image: url(images/svg_bg1.svg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  
}


header {
  background-color: bisque;

  border-style: solid;
  border-radius: 1em;
  
  display: flex; /* setup Flexbox container */
  flex-flow: column wrap;
  justify-content: space-evenly;

}


nav {
  display: flex; /* setup Flexbox container */
  justify-content: space-evenly;

}


div.pill { /* makes "buttons" in navbar for links and playername */
  background-color: white;

  border-style: dashed;
  border-radius: .5em;
  
  padding: .5em 1.5em;
}


main {
  display: flex; /* setup Flexbox container */
  flex-flow: column wrap;
  
}

#mainA, #mainB { /* setup columns in main body */
  background-color: white;
  border-style: solid; 
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}


footer {
  background-color: bisque;
  border-style: solid;
  border-radius: 1em;
  padding: 5px 20px;
  
  display: flex; /* setup Flexbox container */
  flex-flow: column wrap;
  align-items: center;

}

#footMid {
  text-align: center;
}

.footSocial {
  width: 50px;
  height: 50px;
  margin: 10px;
  
}


/* BEGIN mobile layout settings 767px wide and below */
@media screen and (max-width: 767px) {
  header, nav, main, footer {
    flex-direction: column;
  }
  
  nav, header {
    text-align: center;
  }
  
  header img {
    margin: auto;
  }
  
  .NoDisplayMobile { 
    display: none;
  }
  
  div.pill {
    width: 80%;
    margin: auto;
  }
  
  #footLeft, #footRight {
    text-align: center;
  }
}  /* END mobile layout settings 767px wide and below */



/* BEGIN tablet layout settings 768px wide */
@media screen and (min-width: 768px) {
  header, nav, main, footer {
    flex-direction: row;
  }  
  
  

  #mainA, #mainB { /* setup columns in main body */
    flex: 50%; 
  }

  #footLeft {
    flex: 25%;
  }
  
  #footMid {
    flex: 50%;
  }
  
  #footRight {
    flex: 25%;
    text-align: right;
  }
}  /* END tablet layout settings 768px wide */


/* BEGIN desktop layout settings 1024px wide */
@media screen and (min-width: 1024px) {
  header, nav, main, footer {
    width: 80%;
    margin: auto;
  }


}  /* END desktop layout settings 1024px wide */

/* Start switch user dialog*/
.avatar img, #score_img{
  border: 1px solid black;
  background-color: lightblue;
  padding:5px;
  border-radius: 50%;
}

.dialog{
  
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  overflow: auto;
}
.dialog div{
  background-size:contain;
  background-repeat: no-repeat;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bolder;
  display: block;
  line-height: 100px;
  border-radius: 10px;
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin:5px;
  background-color: #eb9f12;
}
/* End switch user dialog*/

/* Start game page  */


#quiz_mode,#practice_mode,.select_operation button, .select_amount button,#c_submit:hover,#c_skip,#c_next,.c_option p,#c_go,.start_btn{
  cursor: pointer;
}
.start_btn{
  margin-top: 20px;
}

.click {
  background-color: rgb(220, 62, 225);
  color: lightgrey;
}


.c_btn,
.c_infoBar {
  margin-top: 2vw;
  font-size:calc(12px + 1vw);
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.c_status{
  width: 60%;
}
.game_page{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.c_status span{
  display: inline-block;
  border-radius: 2px;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  text-align: center;
  
}
.c_msg{
  height: 8rem;
  text-align: center;
}

.c_msg p{
  width: 100%;
  height: 3.5rem;
  padding:10px;
  border-radius: 10px;
  
}
.start_btn,
#c_go,
#c_main,
#c_profile,
#c_submit,
#c_skip
{
  width: 120px;
  font-size:20px;
  border: solid;
  text-align: center;
  background-color: lightseagreen;
  color: black;
  padding: 5px;
  text-decoration: none;
  border-radius: 12px;
}
#c_next{
  font-size:20px;
  border: solid;
  text-align: center;
  background-color: lightseagreen;
  color: black;
  padding: 5px;
  border-radius: 12px;
}
.c_option {
  width: 100%;
  height: calc(50px + 1vw);
  margin: 2vw auto;
  overflow: visible;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 3vw;
}

#c_hole,
.c_option>p {
  width: calc(50px + 1vw);
  height: calc(50px + 1vw);
  font-size:calc(16px + 1vw);
  border: 3px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c_screen {
  width: 100%;
  font-size:calc(20px + 1vw);
  border-radius: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c_ans {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding:1vw 0;
}
#c_submit{
  margin-left: 10px;
}



/* End game page */